<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submited</title>
</head>
<body>
    <h2>Hii <%= name %> Your form is submited </h2>
    <h3>ThankYou</h3>
</body>
</html>